__pycache__

# dependencies
myapp/node_modules
myapp/.pnp
.pnp.js

# testing
myapp/coverage

# production
myapp/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
